@page "/fetchdata"
@using CoffeePalace.Web.Data
@using CoffeePalace.Services.Dtos
@using CoffeePalace.Services
@inject IWebHostEnvironment WebHostEnvironment
@inject ICountriesService CountriesService

<PageTitle>Weather forecast</PageTitle>

@foreach (var country in countries)
{
    <div>
        <p>@country.Name</p>
        <p>@country.Code</p>
        <p>@country.PhoneCode</p>
    </div>
    <br/>
}


@code {
    private List<CountryDto> countries;

    protected override async Task OnInitializedAsync()
    {
        countries = CountriesService.GetAllCountries().ToList();
    }

}